/* 초기화 */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* 레이아웃 */

#list {
    max-width: 1200px;
    margin: 0 auto;
    margin: 30px auto;
    padding: 0 20px;
}

#list > h1{
    margin: 30px 0 10px 0;
    font-size: 1.4rem;
    color: #202020;
}

#list > p{
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

hr{
    color: #b1b1b1;
    margin: 30px 0;
}

.form_title{
    border: 1px solid #F9BBBB;
    background-color: #F9BBBB;
    padding: 15px 10px;
    color: #FFF;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}

.form_box{
    border: 1px solid #b1b1b1;
    padding: 15px 10px;
    border-top: none;
}

.form_in_title{
    color: #3E3A39;
    margin: 10px 0;
    font-size: 1rem;
}

textarea, input[type='text']{
    border: 1px solid #b1b1b1;
    padding: 10px;
    max-width: 100%;
    width: -webkit-fill-available;
}

#insert_btn{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #F9BBBB;
    background-color: #F9BBBB;
    padding: 15px 10px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.inside_btn_wrapepr{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.modify_btn{
    background-color: #52a3f7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.delete_btn{
    background-color: rgb(185, 29, 29);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

#more_btn{
    border: 1px solid #EEE;
    text-align: center;
    padding: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

/* 테이블 */
.form_box > table {
    width: 100%;
}

td{
    padding: 5px;
}